body{
    margin:0;
    padding: 0;
    background: url('http://www.apprand.com/wp-naughtycontent/uploads/2016/04/webdevelopment-img.jpg') no-repeat;
    background-size: cover;
    
}

.box{
    width: 450px;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: fantasy;
}

.box-image{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
}

.box h1{
 font-size: 40px;
 letter-spacing: 4px;
    font-weight: 100;
    font-family: 'Spectral SC', serif;
    margin-bottom: auto;
}

.box h5{
    margin-top: auto;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: auto;
}

.box p {
    text-align: justify;
    font-family: 'Poiret One', cursive;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline;
    margin: 6px;
    list-style: none;
}

.box li a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: all ease-in 250ms;
}

.box li a:hover {
    color: aqua;
}